header{
    width: 100%;
    height: 60px;
    background-color: var(--var04);
    display: flex;
    position: fixed;
    box-shadow: 2px 0px 7px rgb(68, 43, 14);
    top: 0;
    z-index: 1;
    align-items: center;
}

.logo{
    width: 60px;
    height: 55px;
    margin-left: 20px;
    position: relative;
}

.nome{
    position: relative;
    color: var(--var02);
    margin-left: 15px;
    font-size: 50px;
    font-family: 'font1';
}

.perfil{
    width: 45px;
    height: 45px;
    position: relative;
    cursor: pointer;
    left: 1000px;
}
